<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dealership App</title>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <a href="/cars">See the Catalog</a>
  <body>
    <h1>Welcome to Jose's Rent-YOUR-Car!</h1>
    <p>An app for renting your car and start your business.</p>
  </body>
</html>