@import url('https://fonts.googleapis.com/css2?family=Monoton&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

body{
    background-image: url('/images/cars.jpg');
    background-size: cover;
}
h1{
    font-family: "Monoton", sans-serif;
    font-weight: 400;
    font-style: normal;
}
p.intro{
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: italic;
}

a {
    color: black;
    font-weight: bold;
    transition: background-color 0.5s;
    margin: 0px 5px;
  }

a:hover {
    background-color: rgb(212, 206, 206);
}
.deletebtn{
    background-color: red;
    border-radius: 1.5625rem;
    padding: 5px 30px;
    color:white;
}

.submitbtn{
    background-color: green;
    border-radius: 1.5625rem;
    padding: 5px 30px;
    color:white;
    margin: 10px 0;
    cursor: pointer;
}
form {
    border-radius: 5px;
    padding: 20px;
}

input[type=text],[type=number],[list='types']{
    width: 100%;
    padding: 5px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 15px;
    box-sizing: border-box;
}

input[type=color]{
    width: 10%;
    padding: 5px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 15px;
    box-sizing: border-box;
}

select{
    width: 10%;
    padding: 5px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 15px;
    box-sizing: border-box;
}

footer {
    position: fixed; 
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: black;
    color:white; 
    padding:20px; 
    text-align:center;
  }

  footer a {
    text-decoration: none;
    margin: 0 10px;
    color: white;
  }

